real time example of car trade:

In [12]:
def used_car_price ( car_year,car_brand,kmeters):
    if car_year == 2020:
        if 10000<kmeters<15000:
            if car_brand == 'honda amaze':
                print('Rs 845000 - Rs 900000')
            elif car_brand == 'hyundai creta':
                print('Rs 745000-800000')
            else:
                print('no stocks right now')
        elif 15001<kmeters<25000:
            if car_brand == 'honda amaze':
                print('Rs6,70000-Rs700000')
            elif car_brand =='hyundai creta':
                print('Rs800000-900000')
            else:
                print('no stock right now')
    elif car_year ==2021:
        if 10000<kmeters<15001:
            if car_brand =='honda amaze':
                print('Rs 700000-Rs800000')
            elif car_brand =='hyundai creta':
                print('Rs 850000-Rs900000')
            else:
                print('no stock right now')
        elif 15001<kmeters<25000:
            if car_brand == 'honda amaze':
                print('Rs 810000-Rs900000')
            elif car_brand =='hyundai creta':
                print('Rs 850000-Rs 900000')
            else:
                print('no stock right now')
    else:
        print('we dont need car older than 2020')

In [13]:
#calling off the function:
used_car_price(2021,'honda amaze',13000)

Rs 700000-Rs800000

In [14]:
used_car_price(2020,'hyundai creta' , 18000)

Rs800000-900000

In [15]:
used_car_price(2019,'honda amaze', 15000)

we dont need car older than 2020

In [18]:
used_car_price(2020,'maruti suzuki',2020)

# lambda function:
                              function has two types 1.define function 2.lambda function.
                              it"s used for simple types of code.
                              syntax = lambda arguments: expression   ,   lambda = function
                                                                          expression = logic

In [19]:
add_number = lambda y : y+30
print(add_number(50))

80

In [20]:
print(add_number(110))

140

In [21]:
multi_number = lambda a , b : a*b

In [23]:
print(multi_number(93,89))

8277

In [24]:
multi_number(39,98)

3822

# args* and kwargs**

args are used when we dont know how many arguments /data we have to pass.
in cardefine function we have total of three arguments but in args we dont know how many arguments we need to pass.

In [25]:
def my_function(*args):      #that star is imp.
    for i in args:
        print ('my args-',i)

In [28]:
my_function('india')

my args- india

In [29]:
my_function('bengaluru' , 'noida' , 'bhiwani')      #as many as data can be add.

my args- bengaluru
my args- noida
my args- bhiwani

# kwargs:
               kwargs will take data as dictionary in the form of key and value.kwargs = key + value.

In [35]:
def my_kwargs(**kwargs):
    for key,value in kwargs.items():
        print(key , '=', value)

In [36]:
my_kwargs(students = ['ram','shyam'],marks = [12,34])

students = ['ram', 'shyam']
marks = [12, 34]

# string indexing

In [37]:
# this batch rocks = t=0,h=1.i=2,s=3,gap=4,b=5,a=6,t=7,c=8,h=9,gap=10,r=11,o=12,c=13,k=14,s=15
# s[o]=t,s stands for string
#s[1:] 1 is start point which is h,and space after colon shows last index which is s. his batch rocks
#s[3:9] 3 index is s and last index is (9-1=8) , s bat
#s[-1] , -1 will be last s ,
#s[:-1] , this batch rock, from start t and end (-1-1=-2)
#s[::2] , start pont,end point,step ti ac ok
#S[::-2] , scrhtbit

# map()
it is a function we define function and then call a function but with map  we do the same things in a different way.
map(function , data)  map has two arguments function and data.

In [38]:
def grace_marks(marks):
    if marks == 33:
        return (marks+2)             #this is a function
    elif marks == 34:
        return(marks+1)
    else:
        return marks

In [39]:
score = [32,34,35,36,33,34,32,33,35,37]    #this is data

In [40]:
total = list(map(grace_marks,score))
print(total)                             #map will show all the data

[32, 35, 35, 36, 35, 35, 32, 35, 35, 37]

# filter:
unlike map here only condition satisfied data will be shown.
syntax of filter will be same As map it need function and data.

In [47]:
def filter_marks(marks):    #this is function
    if marks <35:
        return marks

In [48]:
score = [50,34,35,36,37,32,33,36,39,31,32,33,]      #this is data

In [49]:
failed = list(filter(filter_marks , score))
print(failed)

[34, 32, 33, 31, 32, 33]

In [50]:
failed

[34, 32, 33, 31, 32, 33]

# global and local variable:

In [52]:
extra_marks = 10
def totalscore_glob():
    print('printing inside the function and total is -',35 + extra_marks)

In [53]:
totalscore_glob()

printing inside the function and total is - 45

In [59]:
#local variable
def totalscore_loc():
    some_marks =50
    print('printing inside the function and total is',50 + some_marks)

In [61]:
totalscore_loc()

printing inside the function and total is 100

In [63]:
print('printing outside the function and total is -' , 50 + some_marks)     #here the local variable is not working with another function

NameError: name 'some_marks' is not defined

In [65]:
#how to use local variable outside the function
def local_global():
    global var12
    var12 = 'this is fantastic'
    print(var12)

In [67]:
local_global()

this is fantastic

# input from user/keyboard:

In [69]:
name = input('enter your name')
print('user entered:', name)

enter your namerohan
user entered: rohan

In [70]:
maths = int(input('enter your maths score'))
science = int(input('enter your science marks'))    #here int is used we want our data in int form only
total_marks = maths + science
print(total_marks)

enter your maths score53
enter your science marks48
101

In [71]:
#how to check only letters
name = input('enter your name ')
if name.isalpha():
    print('you entered' , name)
else:
    print('enter only alpha character')

enter your name 1234
enter only alpha character

In [72]:
#car trade example
car_brand = input('enter car brand')
car_year = int(input('enter car year'))
kmeters = int(input('enter kmeters'))

enter car brand1234
enter car yearn000

ValueError: invalid literal for int() with base 10: 'n000'